= form_for @customer do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :company_id, value: current_company.id
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "first_name"} First Name
    .col-sm-6
      = f.text_field :first_name, class: 'form-control form-control-lg', placeholder: 'First Name', required: true
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "last_name"} Last Name
    .col-sm-6
      = f.text_field :last_name, class: 'form-control form-control-lg', placeholder: 'Last Name', required: true
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "business_name"} Business Name
    .col-sm-6
      = f.text_field :business_name, class: 'form-control form-control-lg', placeholder: 'Business Name'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "email"} Email
    .col-sm-6
      = f.text_field :email, class: 'form-control form-control-lg', placeholder: 'Email'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "address1"} Address 1
    .col-sm-6
      = f.text_field :address1, class: 'form-control form-control-lg', placeholder: 'Address 1'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "address2"} Address 2
    .col-sm-6
      = f.text_field :address2, class: 'form-control form-control-lg', placeholder: 'Address 2'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "city"} City
    .col-sm-6
      = f.text_field :city, class: 'form-control form-control-lg', placeholder: 'City'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "state"} State
    .col-sm-6
      = f.text_field :state, class: 'form-control form-control-lg', placeholder: 'State'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "zip"} Zip
    .col-sm-6
      = f.text_field :zip, class: 'form-control form-control-lg', placeholder: 'Zip'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "phone"} Phone
    .col-sm-6
      = f.text_field :phone, class: 'form-control form-control-lg', placeholder: 'Phone', required: true
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "id_number"} ID Number
    .col-sm-6
      = f.text_field :id_number, class: 'form-control form-control-lg', placeholder: 'ID Number'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "id_state"} ID State
    .col-sm-6
      = f.text_field :id_state, class: 'form-control form-control-lg', placeholder: 'ID State'
  .form-group.row
    %label.required.col-sm-2.form-control-label{:for => "id_expiration"} ID Expiration
    .col-sm-6
      = f.text_field :id_expiration, class: 'form-control form-control-lg', placeholder: 'ID Expiration'
  .form-group.row
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary.btn-lg{:type => "submit"} Save
