%br
%table.table
  %thead
    %tr
      %th Name
      %th Address1
      %th Address2
      %th City
      %th State
      %th Zip
      %th Phone
      %th Email
      %th
      %th
      %th

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.address1
        %td= company.address2
        %td= company.city
        %td= company.state
        %td= company.zip
        %td= company.phone
        %td= company.email
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
