#attachment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "attachment_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = form_for Attachment.new do |form|
          = form.hidden_field :attached_item_id, value: @transaction.id
          = form.hidden_field :attached_item_type, value: @transaction.class.name
          .form-group.row
            .col-sm-12
              = form.text_field :name, class: 'form-control form-control-lg', placeholder: 'Name'
          .form-group.row
            .col-sm-12
              = form.text_area :description, class: 'form-control form-control-lg', placeholder: 'Description'
          .form-group.row
            .col-sm-12
              = form.file_field :file
          - unless @transaction.attachments.blank?
            %p.lead Attachments
            %div.card
              %ul.list-group.list-group-flush
                - @transaction.attachments.each do |attachment|
                  %li.list-group-item 
                    = attachment.name
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{:type => "submit"} Save