%br

- unless @transaction.commodity_items.blank?
  %div.card
    %ul.list-group.list-group-flush#commodity_items
      -# Expands to render commodity_items/commodity_item, collection: @transaction.commodity_items
      = render @transaction.commodity_items
- else
  %p.lead No items yet
   
%div.row
  .col-xs-12.col-md-4
    %div.row
      .col-xs-6
        %a.btn.btn-warning-outline.btn-lg.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#add_commodity_item", :role => "button"} 
          %br
          Add
          %br
          %br
      .col-xs-6
        %a.btn.btn-success-outline.btn-lg.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#change_customer", :role => "button"}
          %br
          Customer
          %br
          %br
    %br
    %div.row
      .col-xs-6
        %a.btn.btn-primary-outline.btn-lg.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#change_discount", :role => "button"} 
          %br
          Discount
          %br
          %br
      .col-xs-6
        %a.btn.btn-secondary-outline.btn-lg.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#attachment", :role => "button"}
          %br
          Attachment
          %br
          %br
        -#
          %a.btn.btn-info-outline.btn-lg.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#change_tax", :role => "button"} 
            %br
            Tax
            %br
            %br
    -#
      %br
      %div.row
        .col-xs-6
          %a.btn.btn-secondary-outline.btn-lg.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#attachment", :role => "button"}
            %br
            Attachment
            %br
            %br
    %br
  .col-xs-12.col-md-4
    .card
      %ul.list-group.list-group-flush
        %li.list-group-item
          Customer
          .pull-right= @transaction.customer.full_name
        %li.list-group-item
          Subtotal
          .pull-right= number_to_currency(@transaction.sub_total)
        %li.list-group-item
          Discount
          .pull-right= number_to_currency("#{@transaction.discount.blank? ? 0 : @transaction.discount}")
        %li.list-group-item
          = "Tax #{@transaction.tax.blank? ? '' : '(' + number_to_percentage(@transaction.tax, precision: 2) + ')'}"
          .pull-right= number_to_currency(@transaction.tax_amount)
        %li.list-group-item
          %strong
            Total
            .pull-right= number_to_currency(@transaction.sub_total - @transaction.discount - @transaction.tax_amount)
  .col-xs-12.col-md-4
    - unless @transaction.sub_total.blank? or @transaction.sub_total.zero?
      -#
        %div.row
          .col-xs-12
            %a.btn.btn-warning.btn-lg.btn-block{href: '#'}
              %br
              Check ATM
              %br
              %br
      %br
      %div.row
        .col-xs-12
          = form_for(@transaction, remote: true) do |form|
            = form.hidden_field :status, value: 'Complete'
            = form.hidden_field :ez_cash_tran_id
            -# %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"}
            %a.btn.btn-primary.btn-lg.btn-block{href: nil, id: 'hypercom_charge_button', "data-workstation-id" => 2,  "data-amount" => (@transaction.sub_total - @transaction.discount - @transaction.tax_amount).round(2)}
              %br
              %br
              %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
              Charge
              = number_to_currency(@transaction.sub_total - @transaction.discount - @transaction.tax_amount)
              %br
              %br
              %br
    -#
      .card.card-inverse.card-success.text-xs-center
        .card-block
          %blockquote.card-blockquote
            %br
            %p 
              Charge
              = number_to_currency(@transaction.sub_total - @transaction.discount - @transaction.tax.to_d)

        %br
        -#
          %footer
            Customer:
            = @transaction.customer.full_name

= render 'commodity_item_modal'
= render 'customer_modal'
= render 'discount_modal'
=# render 'tax_modal'
= render 'attachment_modal'

-#
  = render 'form'

  = link_to 'Show', @transaction
  \|
  = link_to 'Back', transactions_path
